<%- include('partials/head', {title: "Producto: " + (product?.name ? product.name : 'Not Found' ) }) %>
    <%- include('partials/header') %>
        <main class="main-products">
            <% product.forEach(product=> {%>
                <h4>
                    <%= product.titulo %>
                </h4>
                <p class="ps-text-grey">
                    <%= product.description %>
                        U$S<%= product.precio %>

                            <img src="/images/<%= product.img %>" alt="">
                </p>
                <br />
                <%}) %>
        </main>
        <%- include('partials/footer') %>
            </body>

            </html>