<%- include('partials/head', {title: "Editando: " + EditingProduct.name }) %>
    <%- include('partials/header') %>
        <main class="main-crud">
            <section class="crud-contanier">
                <form action="/products/edit/<%= EditingProduct.id %>?_method=PATCH" method="POST" class="crud-form"
                    enctype="multipart/form-data">
                    <h1>PRODUCTO NUEVO</h1>
                    <div class="crud crud-name">
                        <h3>Nombre</h3>
                        <input type="text" id="name" name="name" value="<%= EditingProduct.name %>">
                    </div>
                    <div class="crud crud-prices">
                        <h3>Precio</h3>
                        <input type="number" id="price" name="price" step="000.000.000"
                            value="<%= EditingProduct.price %>">
                    </div>
                    <%- include('crud/crudsizes.ejs') %>
                        <div class="crud crud-stock">
                            <h3>Stock</h3>
                            <input type="text" id="stock" name="stock" value="<%= EditingProduct.stock %>">
                        </div>
                        <%- include('crud/crudcategories.ejs') %>
                            <div class="crud crud-brand">
                                <h3>Marca</h3>
                                <input type="text" id="brand" name="brand" value="<%= EditingProduct.brand %>">
                            </div>
                            <div class="crud-image">
                                <h3>Imágen</h3>
                                <img class="product-img" src="/img/pruebas/<%= EditingProduct.image %>" alt="">
                                <input type="file" id="image" name="image">
                            </div>
                            <div class="crud-details">
                                <h3>Detalles</h3>
                                <textarea name="details" id="details" cols="30"
                                    rows="5"><%= EditingProduct.details %></textarea>
                            </div>
                            <div class="crud-buttons">
                                <button type="submit">Guardar cambios</button>

                                <button type="reset">Cancelar</button>
                </form>

                <form action="/products/delete/<%= EditingProduct.id %>?_method=DELETE" method="POST">
                    <button class="btn-crud" type="submit">Eliminar Producto</button>
                </form>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
            </body>

            </html>