<%- include('partials/head', {title: "Producto: " + (product?.name ? product.name : 'Not Found' ) }) %>
    <%- include('partials/header') %>
        <main class="main-products">
            <div class="product-container">
                <div class="description">
                    <img class="product-img" src="/img/pruebas/<%= product.image %>" alt="">
                    <div>
                        <h4>CARACTERISTICAS</h4>
                        <span>
                            <%= product.details %>
                        </span>
                    </div>
                </div>
                <section class="details">
                    <div class="links-chain">
                        <a href="">Inicio</a>
                        <span class="divider">></span>
                        <a href="">PERROS</a>
                        <span class="divider">></span>
                        <a href="">COSMETICOS</a>
                        <span class="divider">></span>
                        <a href="">COLLARES</a>
                    </div>
                    <div class="store">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <h3>$<%= product.price %>
                        </h3>
                        <div class="cuotas">
                            <i class='bx bx-credit-card'></i>
                            <span class="cuotes">700 cuotas de $10.002</span><br>
                        </div>
                        <a class="details-cuotas" href="/cuotes">Ver más detalles</a>
                        <form action="" class="form">
                            <label for="size">Talle</label><br>
                            <select name="size" id="size">
                                <option value="Empty"></option>
                                <option value="S">S</option>
                                <option value="SM">SM</option>
                                <option value="M">M</option>
                                <option value="ML">ML</option>
                                <option value="L">L</option>
                            </select>
                        </form>
                        <a class="guide-sizes" href="/guide-sizes">Guía de talles</a>
                        <div class="add-to-cart">
                            <div class="minus-plus">
                                <button><i class='bx bx-minus'></i></button>
                                <span>1</span>
                                <button><i class='bx bx-plus'></i></button>
                            </div>
                            <div class="add">
                                <a href="">AGREGAR AL CARRITO</a>
                            </div>
                        </div>
                        <!--MEDIOS DE ENVIO-->
                        <div class="send-methods">
                            <i class='bx bxs-truck'></i>
                            <span>Medios de envío</span>
                        </div>
                        <div></div>
                        <form action=""><br>
                            <input type="tel" name="" id=""><br>
                        </form><br>
                        <!--MEDIOS DE ENVIO-->
                        <div class="crud-buttons">
                            <a href="/products/edit/<%= product.id %>"><button class="btn-crud">Editar
                                    Producto</button></a>
                            <form action="/products/delete/<%= product.id %>" method="POST">
                                <button class="btn-crud" type="submit">Eliminar Producto</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <%- include('partials/footer') %>
            </body>

            </html>