<%- include('partials/head', {title: "Listado de productos" }) %>
    <%- include('partials/header') %>
        <table id="customers">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Imagen</th>
                <th>Detalles</th>
                <th>Precio</th>
                <th>Talles</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>

            <tr>
                <% products.forEach((produc)=>{ %>
            <tr>

                <td class="iddd">
                    <%= produc.id %>
                </td>
                <td>
                    <%= produc.name %>
                </td>
                <td>
                    <%= produc.stock %>
                </td>
                <td class="td-img"> <img class="product-img" src="/img/pruebas/<%= produc.image %>"
                        alt=" Imágen de <%=produc.name%>">
                </td>
                <td>
                    <%= produc.details%>
                </td>
                <td>
                    <%= produc.price%>
                </td>
                <td>
                    <%= produc.size%>
                </td>
                <td>
                    <%= produc.category%>
                </td>
                <td>
                    <script src="edit/<%= produc.id %>"></script>
                    <a href="edit/<%= produc.id %>" id="reload"><button>Editar</button></a>
                    <form action="/products/list/delete/<%= produc.id %>?_method=DELETE" method="POST">
                        <button class="btn-crud" type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            <% }) %>

        </table>
        <script>
            const reload = document.getElementById('reload');

            reload.addEventListener('click', el => { // el  es para indicar la ausencia de parámetros
                location.reload();
            });
        </script>
        <%- include('partials/footer') %>
            </body>

            </html>